@page "/clientes"
@using SmartHub.Core.Models.Enums
@inherits GetAllClientsPage

<MudText Typo="Typo.h3">Clientes</MudText>

<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Href="/clientes/adicionar">
        Adicionar Cliente
    </MudButton>
</div>

<MudDataGrid Class="mt-4" Items="@Clients" Filterable="true">
    <Columns>
        <PropertyColumn Property="x => x.Cod" Title="Código"/>
        <PropertyColumn Property="x => x.Name" Title="Nome da Empresa" />
        <PropertyColumn Property="x => x.Taxation.GetDescription()" Title="Tributação" />
        <PropertyColumn Property="x => x.IM" Title="Inscr. Municipal" />
        <PropertyColumn Property="x => x.IE" Title="Inscr. Estadual" />
        <PropertyColumn Property="x => x.City" Title="Prefeitura" />
        <PropertyColumn Property="x => x.Country" Title="UF" />
        <PropertyColumn Property="x => x.DecPassword" Title="Senha DecWeb" />
        <TemplateColumn Class="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary"/>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="()=> OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Name)"/>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>